<link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
<footer>
  <div class="container pt-5 border-bottom">
       <div class="row gx-2 justify-content-center mb-4">

            <div class="col-lg-4 col-md-6">
                <h5 class="h5-footer mb-4 font-weight-bold text-uppercase">Movies</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html" >All Movies</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html" >By Genre</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html">Now Playing</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html" >Coming Soon</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-6">
                 <h5 class="h5-footer mb-4 font-weight-bold text-uppercase">Pages</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html">Show Times</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html">Food and Beverages</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html">Advertise with Us</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html">VIP Lounge</a></li>
              </ul>
            </div>

            <div class="col-lg-4 col-md-6">
                <h5 class="h5-footer mb-4 font-weight-bold text-uppercase">Contact Us</h5>
                <ul class="list-group">
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="../about-naologic.html"> Facebook</a></li>
                  <li class="list-group-item bg-transparent border-0 p-0 mb-2"><a href="https://blog.naologic.com"> Blog</a></li>
                </ul>
            </div>

  </div>
  </div>
</footer>

<style>
    body {
  font-family: Rubik,Arial,sans-serif;
    font-weight: 400;
    font-size: 1rem;
    overflow-x: hidden;
    color: rgb(9,8,14);
}

.h5-footer {
    font-size: 1rem;
    line-height: 1.375;
  font-family: Rubik,Arial,sans-serif;
    font-weight: 500;
    color: #93F9B9;
}

a {
  color: #818494;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #BBD2C5;
  text-decoration: none;
}

footer {
    position:relative;
    margin:0;
    padding:0;
  background-color: rgb(9,8,14);
}


</style>