<nav class="navbar navbar-expand-md navbar-dark" style="background: rgba(9,8,14,1)">
    <div class="container-fluid">
        <a class="navbar-brand name" href="">Cinehub</a>
        <button class="navbar-toggler @NavButtonCssClass" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-label="Toggle navigation" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse @NavBarCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav me-auto gap-3">
                <li class="nav-item ms-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="shows">
                        <span aria-hidden="true"></span> Shows
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="comingSoon">
                        <span aria-hidden="true"></span> Coming Soon
                    </NavLink>
                </li>
                  <li class="nav-item">
                    <NavLink class="nav-link" href="bookingDetails">
                        <span aria-hidden="true"></span> Bookings
                    </NavLink>
                </li>
            </ul>
            <ul class="navbar-nav justify-content-end gap-lg-3 m-2">
                <li class="nav-item">
                    <NavLink class="nav-link" href="login">
                        <span aria-hidden="true"></span> Login
                    </NavLink>
                </li>
                <li class="nav-item">
                    <NavLink class="nav-link" href="signUp">
                        <span aria-hidden="true"></span> Sign Up
                    </NavLink>
                </li>
            </ul>
        </div>
    </div>
</nav>


<style>
    @@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');
    .name{
        font-weight:700;
        font-family: 'Molle', cursive;
    }

</style>
@code {
    private bool collapseNavMenu = true;
    private string? NavBarCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
