@page "/"

<section class="hero-sec hero-bg">
    <div class="overlay"></div>
    <div class="hero-head row mt-5 me-5">
        <div class="col-md-4 col-sm-12 mx-3 my-4">
             <h1>Experience IMAX</h1>
        <p>Enjoy our state-of-the-art theatre screens with 0.9mm films providing the ultimate cinematic experience<br></p> 
        <button class="btn btn-primary btn-lg action-button" type="button">Learn More<i class="fa fa-long-arrow-right ml-2"></i></button>
        </div>
        <div class="col-md-8">
        </div>
    </div>
 </section>
 <section >
     <div class="wave">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div >
    <div class="content">
        <video id="player" src="/Video/dolby.mp4" autoplay loop muted>
            </video>
    </div>
    <div class="col-md-4 col-lg-4 col-sm-6 me-3">
         <h1 style="z-index:10;font-weight:700;font-size:60px;position:absolute;top:40%;left:60%;right:5%;color:white;">
        Soundscapes that inspire</h1>
    </div>
  </section>
 <section class="hero-sec standard-bg" style="height:800px">
     <div class="divider2">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V7.23C0,65.52,268.63,112.77,600,112.77S1200,65.52,1200,7.23V0Z" class="shape-fill"></path>
        </svg>
    </div>
     <div class="overlay-standard"></div>
        <div class="hero-head">
            <div style="position:absolute;top:40%;left:10%;right:70%;">
                    <h1>Standard</h1>
                   <p>Enjoy our state-of-the-art theatre screens with 0.9mm films providing the ultimate cinematic experience<br></p> 
                  <button class="btn btn-success btn-lg action-button" type="button">PKR 600<i class="fa fa-long-arrow-right ml-2"></i></button>
            </div>
            <div class="col-md-8">
            </div>
        </div>
 </section>
 <section class="hero-sec premium-bg" style="height:800px">
     <div class="divider3">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
      <div class="overlay-premium"></div>
        <div class="hero-head">
            <div style="position:absolute;top:40%;left:70%;right:10%;">
                    <h1>Premium</h1>
                  <p>Enjoy our state-of-the-art theatre screens with 0.9mm films providing the ultimate cinematic experience<br></p> 
                    <button class="btn btn-primary btn-lg action-button" type="button">PKR 800<i class="fa fa-long-arrow-right ml-2"></i></button>
            </div>
        </div>
    </section>
    <section class="hero-sec gold-bg" style="height:800px">
      <div class="divider4">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
      <div class="overlay-gold"></div>
        <div class="hero-head">
            <div class="col-md-8">
            </div>
            <div style="position:absolute;top:40%;left:10%;right:70%;">
                    <h1>Gold</h1>
                  <p>Enjoy our state-of-the-art theatre screens with 0.9mm films providing the ultimate cinematic experience<br></p> 
                    <button class="btn btn-primary btn-lg action-button" type="button">PKR 1200<i class="fa fa-long-arrow-right ml-2"></i></button>
            </div>
        </div>
    </section>
     <section class="hero-sec munch-bg" style="height:500px">
       <div class="divider5">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
        </svg>
    </div>
      <div class="overlay-munch"></div>
        <div style="position:absolute;bottom:10%;left:30%;z-index:100">
            <div class="container align-bottom">
                    <h1 style="color:black;font-size:48px;font-weight:800">&ensp;&ensp;&ensp;Munchies!!!</h1>
                  <p style="color:grey;font-size:20px">Buy some exquisite gourmet shit at our cafe<br></p> 
            </div>
        </div>
    </section>
  <section class="end-bg" style="position:relative;margin:0;padding:0">
    <div class="divider6">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
            <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
            <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
        </svg>
    </div>
     <div class="end-bg"></div>
      <svg class="editorial"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:xlink="http://www.w3.org/1999/xlink"
     viewBox="0 24 150 28 "
     preserveAspectRatio="none">
 <defs>
 <path id="gentle-wave"
 d="M-160 44c30 0 
    58-18 88-18s
    58 18 88 18 
    58-18 88-18 
    58 18 88 18
    v44h-352z" />
  </defs>
  <g class="parallax1">
   <use xlink:href="#gentle-wave" x="50" y="3" fill="#09080E"/>
  </g>
    <g class="parallax2">
   <use xlink:href="#gentle-wave" x="50" y="0" fill="#090848"/>
    </g>
      <g class="parallax3">
   <use xlink:href="#gentle-wave" x="50" y="9" fill="#130454"/>
   </g>
    <g class="parallax4">
   <use xlink:href="#gentle-wave" x="50" y="6" fill="#09080E"/>  
  </g>
</svg>
 </section>

<style>
    @@import url('https://fonts.googleapis.com/css2?family=Molle&display=swap');
    .hero-head{
        z-index:100;
        -webkit-text-fill-color:white;
    }
    .overlay-standard{
       position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
     background: rgb(131,115,209);
background: linear-gradient(205deg, rgba(131,115,209,0.01) 0%, rgba(73,49,193,1) 55%);
    }
    .overlay-premium{
       position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
background: rgb(78,174,20);
background: linear-gradient(160deg, rgba(78,174,20,0.34) 0%, rgba(36,179,13,1) 57%);
    }
    .overlay-munch{
       position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
background: rgb(238,238,232);
background: linear-gradient(180deg, rgba(238,238,232,0.34) 0%, rgba(238,237,242,1) 93%);
    }
    .overlay-gold{
       position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
background: rgb(220,217,39);
background: linear-gradient(200deg, rgba(220,217,39,0.34) 1%, rgba(157,164,36,1) 66%);
    }
    .overlay{
       position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:2;
      background: rgb(9,8,14);
background: linear-gradient(50deg, rgba(9,8,14,1) 44%, rgba(9,8,14,0.5) 71%, rgba(9,8,14,0) 91%);
    }
    .hero-bg{
        background-image: url("/Data/krists-luhaers-AtPWnYNDJnM-unsplash.jpg");
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; 
    }
    .standard-bg{
        background-image: url("/Data/standard.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .premium-bg{
          background-image: url("/Data/premium.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
    .gold-bg{
          background-image: url("/Data/gold.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
       .munch-bg{
          background-image: url("/Data/pop.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
      .end-bg{
          background-image: url("/Data/cin.jpg");
        background-position: center; 
        background-repeat: no-repeat; 
        background-size: cover;
    }
     .blue {
        background: #3c31dd;
      }

      .divider2 {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        z-index:10;
        overflow: hidden;
        line-height: 0;
    }

    .divider2 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 116px;
         z-index:10;
    }

    .divider2 .shape-fill {
        fill: #09080E;
    }

    .divider3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     z-index:10;
    overflow: hidden;
    line-height: 0;
}

.divider3 svg {
    position: relative;
    display: block;
     z-index:10;
    width: calc(121% + 1.3px);
    height: 130px;
}

.divider3 .shape-fill {
    fill: #4931c1;
}

.divider4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
    overflow: hidden;
    line-height: 0;
}

.divider4 svg {
    position: relative;
    display: block;
    z-index:10;
    width: calc(122% + 1.3px);
    height: 93px;
    transform: rotateY(180deg);
}

.divider4 .shape-fill {
    fill: #24B30D;
}

.divider5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
    overflow: hidden;
    line-height: 0;
}

.divider5 svg {
    position: relative;
    display: block;
    width: calc(132% + 1.3px);
    height: 118px;
}

.divider5 .shape-fill {
    fill: #9DA424;
}

.divider6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index:10;
    overflow: hidden;
    line-height: 0;
}

.divider6 svg {
    position: relative;
    display: block;
    z-index:10;
    width: calc(152% + 1.3px);
    height: 102px;
}

.divider6 .shape-fill {
    fill: rgb(238,237,242);
}


      .red {
        background: #dd3f31;
      }

      .pink {
        background: #ff0066;
        overflow: hidden;
      }

    
      .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.wave svg {
    position: relative;
    display: block;
    width: calc(115% + 1.3px);
    height: 152px;
}

.wave .shape-fill {
    fill: #09080E;
}


    .hero-sec{
        height:40rem;
    }
    section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
      }

    .hero {
        background-size:cover;
        position:relative;
        height:100%;
        width:100%;
        text-align: center;
    }

    @@media (min-width:768px) {
        .hero {
            text-align: left
        }
    }

    .hero h1 {
        color: #fff;
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
        font-weight: 300;
        line-height: 1.4
    }

   
    @@media (min-width:992px) {
         .hero h1 {
            margin-top: 190px;
            margin-bottom: 24px;
            line-height: 1.2
        }
    }

    .hero p {
        color: rgba(255, 255, 255, 0.8);
        font-size: 20px;
        margin-bottom: 30px;
        font-weight: 300
    }

    .editorial {
  display: block;
  width: 100%;
  height: 60px;
  max-height: 60px;
  margin: 0;
  z-index:5;
  bottom:0;
  position:absolute;
  left:0px;
  float:left;
}

.parallax1 > use {
  animation: move-forever1 10s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax2 > use {
  animation: move-forever2 8s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax3 > use {
  animation: move-forever3 6s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
.parallax4 > use {
  animation: move-forever4 4s linear infinite;
  &:nth-child(1) {
    animation-delay: -2s;
  }
}
@@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@@keyframes move-forever3 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@@keyframes move-forever4 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

.content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  z-index:-10
}
.content video {
  width: 100%;
  display: block;
}
.content:before {
  content: '';
  position: absolute;
background: rgb(17,17,16);
background: linear-gradient(170deg, rgba(17,17,16,0.34) 0%, rgba(9,8,14,1) 63%);
  border-radius: 5px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

</style>

@*
 <div class="container hero">
                <div class="row">
                    <div class="col-12 col-lg-6 col-xl-5 offset-xl-1">
                        <h1>The revolution is here.</h1>
                        <p>Mauris egestas tellus non ex condimentum, ac ullamcorper sapien dictum. Nam consequat neque quis sapien viverra convallis. In non tempus lorem. </p><button class="btn btn-light btn-lg action-button" type="button">Learn More</button></div>
                    <div
                        class="col-md-5 col-lg-5 offset-lg-1 offset-xl-0 d-none d-lg-block phone-holder">
                        <div class="iphone-mockup"><img src="Data/wave-haikei.svg" class="device">
                            <div class="screen"></div>
                        </div>
                </div>
            </div>
        </div>
        <img src="Data/wave-haikei.svg" class="im"/>
   </div>

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
*@